body{background-color: #181a1b !important; font-family: sans-serif; margin: auto; max-width: 1280px;}p{position: absolute;  top: 50%;  left: 50%; color: #e8e6e3; transform: translate(-50%, -50%); font-size: 100px; margin-top: 0}